/**
 * =================================================================== 
 *
 *  ResumeTemplate v1.0 Main ClearCareer
 *  url: clearcareer.ca
 *  06-27-2016
 *  ------------------------------------------------------------------
 *  Table of Contents:
 *  01. Header
 * =================================================================== 
 */

/* 01. Header
 * =================================================================== */

 .header {
 	background: #151515 url(http://izzydoesizzy.com/images/intro-bg.jpg) no-repeat center right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;
 }
