/**
 * =================================================================== 
 *
 *  ResumeTemplate v1.0 Main ClearCareer
 *  url: clearcareer.ca
 *  06-27-2016
 *  ------------------------------------------------------------------
 *  Table of Contents:

 *  01. Global Styles
 *  02. Intro
 *  03. Social Icons
 *  04. Icon Fonts
 *  05. Section Styles
 EXTRAS

 * =================================================================== 
 */

/* 01. Basic Styles
 * =================================================================== */

 body {
    font-family: 'Source Sans Pro', sans-serif;
 }

 h1 {
    font-weight: bold;
 }

 h5 {
    font-weight: 600;
 }

 a {
    cursor: pointer;
 }

 hr {
    border-top: 3px solid;
    width: 15%;
    padding-bottom: 20px;

 }


 .colour-splash {
    color: #0ce3ac;
 }




/* 02. Intro
 * =================================================================== */

 .intro {
 	background: #151515 url(http://izzydoesizzy.com/images/intro-bg.jpg) no-repeat center right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;
    color: #fff;
 }

 .intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .85;
 }

 .intro-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
}

.intro-content h5 {
    color: #0ce3ac;
    font-size: 2.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro span {
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 0 10px;
    font-weight: 100;
}

.intro h1 {
    margin-top: 0;
}



/* 03. Social Icons
 * =================================================================== */

.social {
  margin: 0 10px;
  padding-top: 1.3em;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}

.social a {
  color: white;
  text-decoration:none;
  padding: 2em;
}

.social a:hover{
  opacity: 0.6;
}


/* 04. Icon Font
 * =================================================================== */

 .lnr {
    font-size: 4em;
    color:#fff;
 }

/* 05. Section Styles
 * =================================================================== */

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.profilepic {
    height: 150px;
    width: auto;
    border-radius: 300px;
}

.section-primary p {
    text-align: justify;
}

.section-primary {
    border: #0ce3ac;
}

.section-colour {
    background-color: #1abc9c;
    color: #fff;
}

.section-colour p {
    text-align: justify;
}

.section-heading h2 {
    text-align: center;
}

.section-colour {
    border: #fff;
}





/* EXTRAS
 * =================================================================== */



        /* Mouse Icon
         * =================================================================== */
        .mouse-icon {
            border: 2px solid #fff;
            border-radius: 16px;
            display: block;
            height: 50px;
            margin: 100px auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 30px;
            z-index: 10;
        }
        .mouse-icon .scroll {
            animation-delay: 0s;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: scrolling;
            animation-play-state: running;
            animation-timing-function: linear;
        }
        .mouse-icon .scroll {
            background: #fff none repeat scroll 0 0;
            border-radius: 10px;
            height: 10px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 4px;
            width: 4px;
        }
        @keyframes scrolling {
        0% {
            opacity: 0;
            top: 5px;
        }
        30% {
            opacity: 1;
            top: 10px;
        }
        100% {
            opacity: 0;
            top: 25px;
        }
        }

        .pad-xl {
            padding: 200px 0px;
        }

        .pad-lg {
            padding: 160px 0px;
        }

        .pad-sm {
            padding: 80px 0px;
        }

        .pad-xs {
            padding: 30px 0px;
        }

        /* /Mouse Icon
         * =================================================================== */

